@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Registro</h1>

<form id="register" method="post"enctype="multipart/form-data" onsubmit="register(); return false;">
    <div class="row">
        <div class="col-md-12">
            <h4>Crear una cuenta nueva.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label asp-for="DocumentTypeId"></label>
                    <select asp-for="DocumentTypeId" asp-items="@(new SelectList((List<rife_rafe_backend.Data.Entities.DocumentType>)ViewData["DocumentType"], "Id", "Description"))" class="custom-select">
                        <option>Seleccione</option>
                    </select>
                    <span asp-validation-for="DocumentTypeId" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Document"></label>
                    <input asp-for="Document" class="form-control" />
                    <span asp-validation-for="Document" class="text-danger"></span>
                </div>
  
                <div class="form-group col-sm-4">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" type="file" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Registrarme</button>

        </div>

    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function register() {
            if ($("#register").valid()) {

                var formData = new FormData();
                formData.append('ImageFile', $('input[name=ImageFile]')[0].files[0]);
                formData.append('Email', $("input[name=Email]").val());
                formData.append("Password", $("input[name=Password]").val());
                formData.append("DocumentTypeId", $("select[name=DocumentTypeId]").val());
                formData.append("Document", $("input[name=Document]").val());
                formData.append("FirstName", $("input[name=FirstName]").val());
                formData.append("LastName", $("input[name=LastName]").val());
                formData.append("Address", $("input[name=Address]").val());
                formData.append("PhoneNumber", $("input[name=PhoneNumber]").val());

                $.ajax({
                    url: '/api/auth/register',
                    type: 'post',
                    dataType: 'json',
                    contentType:false,
                    processData:false,
                    data: formData,
                }).done(response => {
                    if (response?.status) {
                        $("input[name=Email]").val("");
                        $("input[name=Password]").val("");
                        $("select[name=DocumentTypeId]").val("");
                        $("input[name=Document]").val("");
                        $("input[name=FirstName]").val("");
                        $("input[name=LastName]").val("");
                        $("input[name=Address]").val("");
                        $("input[name=PhoneNumber]").val("");
                        toastr.success('Registro realizado correctamente, revisa el correo')
                    }
                });
                return false;
            } else {
                return false;
            }
        }
    </script>
}
