@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject SignInManager<rife_rafe_backend.Data.Entities.User> SignInManager
@inject UserManager<rife_rafe_backend.Data.Entities.User> UserManager

<ul class="navbar-nav">
    @{
        string token = HttpContextAccessor.HttpContext.Session.GetString("token");
    }
    @if (!string.IsNullOrEmpty(token))
    {
        <li class="nav-item">
            <form class="form-inline" href="/">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="/auth/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/auth">Login</a>
        </li>
    }
</ul>
