@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Productos</h1>
</div>
<div class="container-fluid d-flex justify-content-center list-products">
    <div class="row mt-5">
        <div class="col-sm-4">
            <div class="card">
                <img src="https://imgur.com/edOjtEC.png"
                     class="card-img-top"
                     width="100%" />
                <div class="card-body pt-0 px-0">
                    <div class="d-flex flex-row justify-content-between mb-0 px-3">
                        <h5 class="mt-2">Carro en venta</h5>
                    </div>
                    <hr class="mt-2 mx-3" />
                    <div class="d-flex flex-row justify-content-between mb-0 px-3">
                        <small class="text-muted mt-1">PRECIO Ó SUBASTA EN</small>
                        <h6>&dollar;22,495</h6>
                    </div>
                    <hr class="mt-2 mx-3" />
                    <div class="d-flex flex-row justify-content-between px-3 pb-4">
                        <div class="d-flex flex-column">
                            <span class="text-muted">Fecha de cierre ó fecha de juego</span>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="mb-0">20/02/05</h5>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between p-3 mid">
                        <div class="d-flex flex-column">
                            <small class="text-muted mb-1">Descripcion del producto pequeña</small>
                        </div>
                    </div>

                    <div class="mx-3 mt-3 mb-2">
                        <button type="button" class="btn btn-danger btn-block">
                            <small>APLICAR SUBASTA/RIFA</small>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://imgur.com/edOjtEC.png"
                     class="card-img-top"
                     width="100%" />
                <div class="card-body pt-0 px-0">
                    <div class="d-flex flex-row justify-content-between mb-0 px-3">
                        <h5 class="mt-2">Carro en venta</h5>
                    </div>
                    <hr class="mt-2 mx-3" />
                    <div class="d-flex flex-row justify-content-between mb-0 px-3">
                        <small class="text-muted mt-1">PRECIO Ó SUBASTA EN</small>
                        <h6>&dollar;22,495</h6>
                    </div>
                    <hr class="mt-2 mx-3" />
                    <div class="d-flex flex-row justify-content-between px-3 pb-4">
                        <div class="d-flex flex-column">
                            <span class="text-muted">Fecha de cierre ó fecha de juego</span>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="mb-0">20/02/05</h5>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between p-3 mid">
                        <div class="d-flex flex-column">
                            <small class="text-muted mb-1">Descripcion del producto pequeña</small>
                        </div>
                    </div>

                    <div class="mx-3 mt-3 mb-2">
                        <button type="button" class="btn btn-danger btn-block">
                            <small>APLICAR SUBASTA/RIFA</small>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://imgur.com/edOjtEC.png"
                     class="card-img-top"
                     width="100%" />
                <div class="card-body pt-0 px-0">
                    <div class="d-flex flex-row justify-content-between mb-0 px-3">
                        <h5 class="mt-2">Carro en venta</h5>
                    </div>
                    <hr class="mt-2 mx-3" />
                    <div class="d-flex flex-row justify-content-between mb-0 px-3">
                        <small class="text-muted mt-1">PRECIO Ó SUBASTA EN</small>
                        <h6>&dollar;22,495</h6>
                    </div>
                    <hr class="mt-2 mx-3" />
                    <div class="d-flex flex-row justify-content-between px-3 pb-4">
                        <div class="d-flex flex-column">
                            <span class="text-muted">Fecha de cierre ó fecha de juego</span>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="mb-0">20/02/05</h5>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between p-3 mid">
                        <div class="d-flex flex-column">
                            <small class="text-muted mb-1">Descripcion del producto pequeña</small>
                        </div>
                    </div>

                    <div class="mx-3 mt-3 mb-2">
                        <button type="button" class="btn btn-danger btn-block">
                            <small>APLICAR SUBASTA/RIFA</small>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(() => {
            $.ajax({
                url: '/api/home',
                type: 'get',
                dataType: 'json',
                headers: {
                    "Content-Type": "application/json"
                },
            }).done(response => {
                console.log(response);
                //if (response?.items) {
                //    $("#tbodyProducts").html();
                //    response.items.map(e => {
                //        $("#tbodyProducts").append(`<tr>
                //            <td>${e.title}</td>
                //            <td>${e.category.name}</td>
                //            <td>${e.features}</td>
                //            <td>${e.description}</td>
                //            <td>${e.termsAndConditions}</td>
                //            <td>${e.offer}</td>
                //            <td>

                //            </td>
                //         </tr>`);
                //    });
                //}
            });
        });
    </script>
}