@model IEnumerable<rife_rafe_backend.Data.Entities.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Features)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermsAndConditions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section Scripts {
    <script>
        $(() => {
            $.ajax({
                url: '/api/products',
                type: 'get',
                dataType: 'json',
                headers: {
                    "Content-Type": "application/json"
                },
            }).done(response => {
                console.log(response);
            });
        });
    </script>
}

